.card-item {
    float: left;
    width: 236px;
    height: 221px;
    margin:0 0 20px 9px;
    padding:7px 7px 10px;
    border: 1px solid transparent;
    position: relative;
   

    &:hover {
        border-color: #ddd;
        box-shadow: 1px 2px 3px #ddd;
    }

    a {
        display: block;
    }

    .item-status {
        position: absolute;
        width: 220px;
        height: 24px;
        line-height: 21px;
        background-color: rgba(0,0,0,0.6);
        padding-left: 10px;
        margin-top: -28px;

        .item-status-step {
            font-size: 12px;
            color: #fff;
        }
    }

    .item-tt {
        font-size: 14px;
        font-weight: 400;
        margin: 5px 0 8px;
        height: 40px;

        .item-tt-lk:hover {
            color: #167ed9;
        }
    }

    .item-line {
        width: 220px;
        height: 24px;
        line-height: 24px;


        .item-price {
            color: #e85308;
        }
        .item-free {
            color: #5cb85c;
        }
        
        .item-user--right {
            float: right;
        }
        
        .item-user {
            font-size: 8px;
            color: #999999;
        }
        
    }
}