*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
*::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #666;
    
}

html {
    font-size: 14px;
    color: #333;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
font-weight: normal;
}

a {
    text-decoration:none;
    color: #333;
}

ul {
    list-style: none;
}

button {
    outline: none;
}

input {
    outline: none;
    border: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;

}

.hide{
    display: none;
    opacity: 0;
}
