.header-logo {
    width: 192px;
    height: 100%;
    display: inline-block;
    background:url(https://9.idqqimg.com/edu/logo192-3x_621b1c1fc1dd9a9eff1800acff237e5c.png#unsprite) no-repeat;
    background-size: 192px 80px;
}